html {
    box-sizing: border-box;
    font-family: Roboto;
}

  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin: 0;
    font-weight: 900;
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.main-content {
    padding: 50px 250px;
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    gap: 30px;
}

.image-title {
    background-color: rgb(185, 185, 185);
    width: 500px;
    height: 300px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-title {
    background-color: #3882F6;
    color: white;
    font-weight: 900;
    border-radius: 10px;
    border: 0;
    padding: 10px 30px;
    font-size: 15px;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.container {
    display: flex;
    gap: 50px;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
}

.content-image {
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

h2 {
    padding: 20px 0;
    font-size: 30px;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    
}

.quote-container-two {
    display: flex;
    flex-direction: column;
    width: 900px;
    padding: 150px 0;
    gap: 10px;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    margin: 0;
}

.author {
    font-weight: bold;
    align-self: flex-end;
}

.call-to-action-container {
    display: flex;
    padding: 100px 200px;
    justify-content: center;
    align-items: center;
}

.sign {
    width: 900px;
    height: 150px;
    background-color: #3882F6;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    color: white;
}

.call-action {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
}

.sign-subtext {
    margin: 0;
}

.sign-up-button {
    padding: 5px 30px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: transparent;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}

.footer p {
    color: white;
    font-size: 15px;
}